:root {
    --color-white: #ffffff;
    --color-gray: #D2D2D2;
    --color-charcoal: #404040;
    --color-black: #101010;
    --color-highlight: #32ECA6;

    --gap: 40px;

    --font-size-title: 24px;
    --letter-spacing-title: 0.48px;

    --font-size-description: 32px;
    --letter-spacing-description: 0.64px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.background_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #101010, #10101000);
    z-index: -1;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("sprites/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -2;
}

header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

.header_wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    display: flex;
    
}
.logo > a{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -0.4px;
    color: var(--color-white);
}

.connect_wallet{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid var(--color-white);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.25s;
}

.connect_wallet > div:nth-child(1){
    background-image: url("sprites/klaytn_white.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 16px;
    height: 16px;
    transition: 0.25s;
}

.connect_wallet > div:nth-child(2){
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
    letter-spacing: -0.32px;
    margin-bottom: 0.5px;
    margin-left: 8px;
    transition: 0.25s;
}

.connect_wallet:hover{
    background: var(--color-white);
}

.connect_wallet:hover.connect_wallet > div:nth-child(1){
    background-image: url("sprites/klaytn_black.png");
}

.connect_wallet:hover.connect_wallet > div:nth-child(2){
    color: var(--color-black);
}

.information_wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center; 
    gap: var(--gap);
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.nft_image{
    max-width: 620px;
    max-height: 620px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.information{
    max-width: 620px;
    max-height: 620px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.balance{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap);
}

.balance_title{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-title);
    color: var(--color-gray);
}

.balance_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance_description > img{
    width: var(--font-size-description);
    height: var(--font-size-description);
}

.balance_description > div{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-description);
    font-weight: 800;
    letter-spacing: var(--letter-spacing-description);
    margin-left: 16px;
    color: var(--color-white);
}

.minting_info{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #303030CC, #202020CC);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.line_horizontal{
    width: calc(100% - 80px);
    height: 1px;
    background-color: var(--color-charcoal);
}

.line_vertical{
    width: 1px;
    height: calc(100% - 40px);
    background-color: var(--color-charcoal);
}

.row_1, .row_2, .row_3{
    width: 100%;
    height: calc(100% / 3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.col_1, .col_2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.col_1 > div:nth-child(1), .col_2 > div:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-title);
    color: var(--color-gray);
}

.col_1 > div:nth-child(2), .col_2 > div:nth-child(2){
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-description);
    font-weight: 800;
    letter-spacing: var(--letter-spacing-description);
    color: var(--color-white);
}

.amount_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount_description > button{
    width: var(--gap);
    height: var(--gap);
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 600;
    color: var(--color-white);
    background: none;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    transition: 0.25s;
}

.amount_description > button:hover:not(.untouchable){
    color: var(--color-black);
    background-color: var(--color-white);
    cursor: pointer;
}

.amount_description > .untouchable{
    color: var(--color-charcoal);
    border: 1px solid var(--color-charcoal);
}

.highlight{
    color: var(--color-highlight);
}

.small{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-title);
}

.minting_wrapper{
    max-width: 1320px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center; 
    gap: var(--gap);
    margin-top: var(--gap);
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.price{
    max-width: 620px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_title{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-title);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-title);
    color: var(--color-gray);
}

.price_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_description > img{
    width: var(--font-size-description);
    height: var(--font-size-description);
}

.price_description > div{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-description);
    font-weight: 800;
    letter-spacing: var(--letter-spacing-description);
    margin-left: 16px;
    color: var(--color-highlight);
}

.btn_minting{
    max-width: 620px;
    width: 100%;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-description);
    font-weight: 800;
    letter-spacing: var(--letter-spacing-description);
    color: var(--color-white);
    background: linear-gradient(135deg, #32ECA6, #16a57a);
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.btn_minting:hover{
    box-shadow: 0 0px 24px 0px var(--color-highlight);
}

@media screen and (max-width: 1320px) {
    .information_wrapper{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .minting_wrapper{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 660px) {
    :root {
        --font-size-title: 20px;
        --letter-spacing-title: 0.4px;
    
        --font-size-description: 28px;
        --letter-spacing-description: 0.56px;
    }  
}

@media screen and (max-width: 600px) {
    :root {
        --font-size-title: 16px;
        --letter-spacing-title: 0.32px;
    
        --font-size-description: 24px;
        --letter-spacing-description: 0.48px;

        --gap: 32px;
    }

    .information_wrapper{
        margin-top: 64px;
    }
    
    .btn_minting{
        height: 64px;
    }

    .btn_minting:hover{
        box-shadow: 0 0px 20px 0px var(--color-highlight);
    }
}

@media screen and (max-width: 520px) {
    :root {
        --font-size-title: 14px;
        --letter-spacing-title: 0.28px;
    
        --font-size-description: 20px;
        --letter-spacing-description: 0.4px;

        --gap: 28px;
    }

    .information_wrapper{
        margin-top: 56px;
    }

    .btn_minting{
        height: 56px;
    }

    .btn_minting:hover{
        box-shadow: 0 0px 16px 0px var(--color-highlight);
    }
}

@media screen and (max-width: 460px) {
    :root {
        --font-size-title: 12px;
        --letter-spacing-title: 0.24px;
    
        --font-size-description: 16px;
        --letter-spacing-description: 0.32px;

        --gap: 24px;
    }

    .information_wrapper{
        margin-top: 48px;
    }

    .logo{
        font-size: 18px;
        letter-spacing: -0.36px;
    }

    .connect_wallet{
        height: 36px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .connect_wallet > div:nth-child(1){
        width: 14px;
        height: 14px;
    }
    
    .connect_wallet > div:nth-child(2){
        font-size: 14px;
        letter-spacing: -0.28px;
    }
}


@media screen and (max-width: 400px) {
    :root {
        --gap: 20px;
    }

    .information_wrapper{
        margin-top: 40px;
    }
}